<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/style.css">
        <title>Document</title>
    </head>
    <body>
        <header>
            <img src="./imagenes/logo-mercado-liebre.svg" width="360px" alt="soy
                el logo">
            <input type="search"><i class="fa-solid fa-magnifying-glass"></i>
            <p><i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</p>
            <ul>
                <li>
                    <a href=""> Ofertas</a>
                </li>
                <li>
                    <a href="">Tiendas Oficiales</a>
                </li>
                <li>
                    <a href="">Vender</a>
                </li>
                <li>
                    <a href="">Ayuda</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="">Crea tu cuenta</a>
                </li>
                <li>
                    <a href="">Ingresa<i class="fa-regular fa-right-to-bracket"></i></a>
                </li>
                <li>
                    <a href="">Mis compras<i class="fa-regular fa-basket-shopping"></i></a>
                </li>
            </ul>
        </header>

        <main>
            <section>
                <img src="./imagenes/img-home-banner.jpg" width="360px" alt="soy
                    el banner">
            </section>

            <section>
                <h2>Basado en tu ultima visita</h2>

                <article>
                    <img src="./imagenes/img-cafetera-moulinex.jpg"
                        width="360px" alt="soy la foto de la cafetera">
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <h4>Cafetera Moulinex</h4>
                </article>

                <article>
                    <img src="./imagenes/img-macbook-pro-2019.jpg" width="360px"
                        alt="soy la foto de la Mac">
                    <p>$230.000</p>
                    <p>20% OFF</p>
                    <h4>MacBook Pro 2019</h4>
                </article>
                <article>
                    <img src="./imagenes/img-samsung-galaxy-s10.jpg"
                        width="360px" alt="soy la foto del samsung">
                    <p>$70.500</p>
                    <p>10% OFF</p>
                    <h4>Sansung Galaxy S10</h4>
                </article>
            </section>
            <section>
                <h2>Ofertas</h2>

                <article>
                    <img src="./imagenes/img-cafetera-moulinex.jpg"
                        width="360px" alt="">
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <h4>Cafetera Moulinex</h4>
                </article>

                <article>
                    <img src="./imagenes/img-macbook-pro-2019.jpg" width="360px"
                        alt="">
                    <p>$230.000</p>
                    <p>20% OFF</p>
                    <h4>MacBook Pro 2019</h4>

                </article>
                <article>
                    <img src="./imagenes/img-samsung-galaxy-s10.jpg"
                        width="360px" alt="">
                    <p>$70.500</p>
                    <p>10% OFF</p>
                    <h4>Sansung Galaxy S10</h4>
                </article>
            </section>

        </main>
        <footer>
            <section>
                <h3>Paga con tarjeta o efectivo</h3>
                <p>Con Mercado Liebre Cash, tenes coutas sin interes con tarjeta
                    o efectico en puntos de pago . !Y simepre es seguro¡<p>
                    </section>
                    <section>
                        <h3>Envio gratis desde $2.500</h3>
                        <p>Solo por estar registrad@ en Mercado Liebre<p>
                            </section>
                            <section>
                                <h3>Seguridad de principio a fin</h3>
                                <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no
                                    hay nada que no puedas hacer porque estas
                                    siempre protegid@.<p>
                                    </section>
                                    <p>Copyright (logo) 1999-2020 MercadoLiebre
                                        S.R.L.</p>
                                </footer>
                            </body>
                        </html>